.d-item{
    height: 500px;
    text-align: center;
}
.img-img{
    height: 70%;
    object-fit: cover;
    /*ilter: brightness(0.6);*/
    margin: 10px;
}
.display-1{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}
.mt-fs-3{
    text-align: center;
     color: aliceblue;
    font-size: 15px;
}
